/* Reset some default styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color:#f4f4f9;
    background: url(../images/gf\ \(2\).png);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Main container for the login */
.login-container {
    background-color: #effbf3; /* or rgba(239, 251, 243, 0.92) */
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}


/* Form styles */
form {
    margin: 0;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="password"],input[type="email"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Button styles */
button.login-btn {
    width: 100%;
    padding: 10px;
    background-color:chocolate;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.login-btn:hover {
    background-color: #4cae4c;
}

/* Register link styles */
.register-link {
    margin-top: 15px;
    font-size: 14px;
}

.register-link a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.register-link a:hover {
    text-decoration: underline;
}
